@media (orientation: landscape) {
  
    .lowerHUD {
        position: absolute;
        right: 0;
        bottom: 2vw;
        z-index: 100;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw 2vw;
        flex-wrap: wrap;
        /* scale: 0.3; */
        /* height: 100vh; */
        width: 100vw !important;

        transform-origin: bottom right;
        scale: 0.35;
    }

    button {
        width: 20vw;
        height: 20vw;
        font-size: 5vw;
        border-radius: 4vw;
        outline: none;
        border: none;
        background: rgba(100,100,100,0.5);
        color: white;
        font-family: "Silkscreen";
        transition: 0.1s;
        touch-action: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vw;
        /* text-shadow: 0 0 1vw #fff; */
    }


    canvas {
        transform-origin: top left;
    }

}
